
//main
.container{
  margin: 20px auto;
  .content{
    padding: 20px;
  }
}
//notes
.list-group{
  margin: 10px;
  
}
.note{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
small{
  margin: 1rem;
}
//preloader
.spinner-class{
 text-align: center;
}

//message for en empty list
.message{
  margin: 20px;
}

//alert animation
.alert-enter {
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
///note animation
.item-enter {
  opacity: 0;
}
.item-enter-active {
  animation: item 800ms ease-in alternate-reverse;
 
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  animation: item 800ms ease-out forwards;
}


@keyframes item {
  0% {
    transform: translateX(0);
  }
  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}